<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net45" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net45" />
  <package id="CsvHelper.Excel" version="1.0.6" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="EPPlus" version="4.1.1" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="NPOI" version="2.3.0" targetFramework="net45" />
  <package id="NPOI.Extension" version="2.1.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
</packages>